extends layout

block content
  h1 404 Not Found
  h2 Your humble robot, <em>Le Serveur</em>, subserviently apologizes.

  p You asked me for <code>#{req.path}</code>, but I'm not aware of a resource by that name.